CORE_DB_NAME=core_db
CORE_DB_USER=core
CORE_DB_PASSWORD=core
CORE_DB_PORT=5432

ANALYSER_DB_NAME=analyser_db
ANALYSER_DB_USER=analyser
ANALYSER_DB_PASSWORD=analyser
ANALYSER_DB_PORT=5433

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_PORT=8180