CATALOG_DB_NAME=catalog_db
CATALOG_DB_USER=catalog
CATALOG_DB_PASSWORD=catalog
CATALOG_DB_PORT=5432

ANALYSER_DB_NAME=analyser_db
ANALYSER_DB_USER=analyser
ANALYSER_DB_PASSWORD=analyser
ANALYSER_DB_PORT=5433